.content-container {
    height: 100%;
    width: 100%;
    background: rgb(85, 3, 3);
    color: white;
}

.about {
    background-color: rgb(28, 26, 26);
    border-radius: 20px;
}

.about h1,
h3 {
    color: yellow;
    font-weight: 800;
}

